<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Your Post in detail</h1>
    <p>Your id: <%= post.id %></p>
    <div>
        <h3>@<%= post.username %> </h3>
        <h4><%= post.content %> </h4>
    </div>
</body>
</html>